

        body{background-color: gray;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 100px;
        }
        div{background-color:whitesmoke;
            border: 2px solid;
            border-color: #1c58da;
            border-radius: 10px;
            width: 40%;
        }
        input{font-size: 20pt;
            padding: 10px;}
        form{margin-top: 30px;
            margin-bottom: 30px;
        }
        button{width: 170px;
            height: 40px;
            padding: 10px;}
        input:hover{border: 3px solid;
            border-color: red;
            border-radius: 20px;
        }
        a{text-decoration: none;}
